// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.logo {
	height: 200px;
	text-align: center;
}

div.logoEdit {
	height: 100%;
}

div.logo img {
	width: 80%;
	display: block;
	margin: auto;
}

div.buttons {
	float: right;
	display: block;
}

div.buttons a {
	margin: 5px;
}