// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-results {
    margin: 20px 0
}

.search-results h4 {
    margin-bottom: 2px
}

.search-results h4 a {
    color: #5e87b0;
    text-decoration: underline
}

.search-results .url {
    margin-top: 0;
    color: #9db36a;
    margin-bottom: 5px
}

.search-results img {
    margin-right: 10px;
    border-radius: 2px
}
